
.Error {
    color: brown;
    size: 25px;
    border: 1px solid rgb(24, 23, 23);
    background-color: rgb(226, 209, 209);
    border-radius: 5%;
}

.Success {
    color: green;
    size: 25px;
    border: 1px solid rgb(24, 23, 23);
    background-color: rgb(226, 209, 209);
    border-radius: 5%;
}

.blogTitleBlock {
    display: inline;
}

.blogStyle {
    padding-top: 10;
    padding-left: 2;
    border: 'solid';
    border-width: 1;
    margin-bottom: 5;
}